* {
    margin: 0;
    padding: 0;
    font-family: 'Source Sans Pro', sans-serif;
}

body {
    background: linear-gradient(to bottom left, #e0ec9a 40%, #d8ee59 100%);
}

.loader-container {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10000;
    background: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
}

.loader-container.fade-out {
    top: -120%;
}

.header {
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(4, 9, 30, 0.7), rgba(4, 9, 30, 0.7)), url(images/header.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
}

nav {
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
}

nav img {
    width: 150px;
}

.nav-links {
    flex: 1;
    text-align: right;
}

.nav-links ul li {
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}

.nav-links ul li a {
    color: white;
    text-decoration: none;
    font-size: 13px;
}

.nav-links ul li ::after {
    content: '';
    width: 0%;
    height: 2px;
    background: hsl(180, 70%, 43%);
    display: block;
    margin: auto;
    transition: 0.5s;
}

.nav-links ul li:hover ::after {
    width: 100%;
}

.text-box {
    width: 90%;
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.text-box h1 {
    font-size: 62px;
    color: greenyellow;
}

.text-box h4 {
    margin: 10px 0 40px;
    font-size: 40px;
    color: rgb(177, 175, 240);
}

.text-box p {
    margin: 10px 0 40px;
    font-size: 40px;
    color: white;
    font-family: 'Times New Roman', Times, serif;
}

.hero-btn {
    display: inline-block;
    text-decoration: none;
    color: white;
    border: 1px solid #fff;
    padding: 12px 34px;
    font-size: 13px;
    background: transparent;
    position: relative;
    cursor: pointer;
}

.hero-btn:hover {
    border: 1px solid hsl(180, 70%, 43%);
    background: hsl(180, 70%, 43%);
    transition: 1s;
}

nav .fa {
    display: none;
}

@media(max-width: 700px) {
    .text-box h1 {
        font-size: 30px;
    }
    .text-box p {
        font-size: 20px;
    }
    .text-box h4 {
        font-size: 20px;
    }
    .nav-links ul li {
        display: block;
    }
    .nav-links {
        position: absolute;
        background: hsl(180, 70%, 43%);
        height: 100vh;
        width: 200px;
        top: 0;
        right: -200px;
        text-align: left;
        z-index: 2;
        transition: 1s;
    }
    nav .fa {
        display: block;
        color: #fff;
        margin: 10px;
        font-size: 22px;
        cursor: pointer;
    }
    .nav-links ul {
        padding: 30px;
    }
}


/*---------main---------*/

.content {
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 100px;
}

h1 {
    font-size: 36px;
    font-weight: 600;
}

p {
    color: rgb(66, 36, 2);
    font-size: 14px;
    font-weight: 500;
    line-height: 22px;
    padding: 10px;
}

.row {
    margin-top: 5%;
    display: flex;
    justify-content: space-between;
}

.con-col {
    flex-basis: 31%;
    background: rgb(228, 207, 207);
    border-radius: 10px;
    margin-bottom: 5%;
    padding: 20px 12px;
    box-sizing: border-box;
    transition: 0.5s;
}

h3 {
    text-align: center;
    font-weight: 600;
    margin: 10px 0;
}

.con-col:hover {
    box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.2);
}

@media(max-width: 700px) {
    .row {
        flex-direction: column;
    }
}


/*------------explore------------*/

.explore {
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 50px;
}

.exp-col {
    flex-basis: 32%;
    border-radius: 10px;
    margin-bottom: 30px;
    position: relative;
    overflow: hidden;
}

.exp-col img {
    width: 100%;
    display: block;
}

.layer {
    background: transparent;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transition: 0.5s;
}

.layer:hover {
    background: rgba(248, 191, 191, 0.7);
}

.layer h3 {
    width: 100%;
    font-weight: 500;
    color: rgb(12, 63, 17);
    font-size: 26px;
    bottom: 0;
    left: 50%;
    transform: translate(-50%);
    position: absolute;
    opacity: 0;
    transition: 0.5s;
}

.layer:hover h3 {
    bottom: 49%;
    opacity: 1;
}


/*-----------FAQ----------*/

.faq {
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 100px;
}

.faq__content p {
    color: rgba(37, 6, 6, 0.918);
    font-weight: 500;
}

h2 {
    font-size: 36px;
    font-weight: 600;
}

summary {
    font-size: 1.25rem;
    font-weight: 600;
    background-color: rgba(231, 152, 47, 0.979);
    color: rgb(37, 11, 49);
    padding: 1rem;
    margin-bottom: 1rem;
    outline: none;
    border-radius: 0.25rem;
    text-align: left;
    cursor: pointer;
    position: relative;
}

details>summary::after {
    position: absolute;
    content: "+";
    right: 20px;
}

details[open]>summary::after {
    position: absolute;
    content: "-";
    right: 20px;
}

details>summary::-webkit-details-marker {
    display: none;
}

details[open] summary~* {
    animation: sweep .5s ease-in-out;
}

@keyframes sweep {
    0% {
        opacity: 0;
        margin-top: -10px
    }
    100% {
        opacity: 1;
        margin-top: 0px
    }
}

@media(max-width: 700px) {
    .h2 {
        font-size: 20px;
    }
}


/*-----------FOOTER----------*/

.icons .fa {
    color: rgb(64, 180, 226);
    margin: 20px 13px;
    cursor: pointer;
    padding: 28px 0;
}

#footer a {
    text-decoration-line: underline;
    text-decoration-style: double;
    text-decoration-color: orange;
    color: rgb(63, 191, 223);
}

.textcon {
    padding: 30%;
}

#footersect {
    background: linear-gradient(#6e6d6c, #171818);
    width: 100%;
    text-align: center;
}

#footersect p {
    color: aquamarine;
}

#footer {
    display: flex;
    flex-direction: row;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    padding-top: 80px;
    color: #b8b5b5;
}

#footer div {
    display: inline;
    width: 33.333%;
    padding: 1em;
    text-align: center;
}

#footer div h2 {
    text-align: center;
}

#footer div:nth-of-type(2) {
    border-right: 0.062em dotted #999;
    border-left: 0.062em dotted #999;
}

#footer div:nth-of-type(3) {
    text-align: left;
}

@media (max-width: 600px) {
    #footer {
        flex-direction: column;
        align-items: center;
    }
}


/*------------ABOUT-------*/

.abt {
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 100px;
}

.abt h4 {
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}